a.navbar-brand:visited, a.nav-link:visited,a.navbar-brand:hover, a.nav-link:hover, a.navbar-brand, a.nav-link, h1, h2, h3, h4, h5, h6 {
  color: #0f2a55 !important
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
